<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="loading" text-center>Loading...</div>

  <div *ngIf="weather" class="">
    <ion-card>
      <ion-card-header text-center>
          Weather forecast for {{weather.name}}
      </ion-card-header>
      <ion-list>
        <ion-item>
            <h1 text-center >{{weather.main.temp | number:'1.0-0'}}&deg;C</h1>
        </ion-item>
        <ion-item>
          <img src="{{'http://openweathermap.org/img/w/'+weather.weather[0].icon+'.png'}}" 
               class="weather-icon" alt="">
        </ion-item>
        <ion-item>
            <h2 text-center >{{weather.weather[0].description}}</h2>
        </ion-item>
        
      </ion-list>

    </ion-card>

    <p>&nbsp;</p>

    <ion-grid>
      <ion-row>
        <ion-col col-10 offset-1>
          <ion-list>
              <ion-item>
                  Temp: {{weather.main.temp | number:'1.1-1' }}&deg;C
              </ion-item>
              <ion-item>
                  Wind: {{weather.wind.speed}}mph
              </ion-item>          
              <ion-item>
                  Humidity: {{weather.main.humidity}}%
              </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
  

</ion-content>
